@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap');

* {
    font-family: "Satoshi", sans-serif;
}

.custom-spacing {
    word-spacing: 6px;
}

.wahatag {
    font-size: 20px;
    color: #313131 !important;
    font-weight: bold;
    display: flex;
    gap: 9px;

    text-decoration: underline; 
}

.wahatag svg {
    width: 20px;
}

.flexbox-rechya {
    display: flex;
    gap: 60px;
}

.flexbox-custom {
    display: flex;
    gap: 60px;
}

@media only screen and (max-width: 1025px) {
    .flexbox-rechya {
        display: table-row;
    }
}

.flexbox-rechya img {
    width: 900px;
}